<ng-container  *ngIf="course">
  <div class="course-card" [ngClass]="cardClasses()">
    <div class="course-title" [ngStyle]="cardDescriptionStyles()">
      {{cardIndex}} {{course.description}}
    </div>
    <img width="300" alt="Angular Logo"
      [src]="course.iconUrl"
      *ngIf="isImageVisible() else noImage">

    <ng-template #noImage>
      <p>No image available</p>
    </ng-template>
    <div class="course-description">
      {{course.longDescription}}
    </div>

    <div class="course-category">
      {{course.category}}
    </div>

    <button (click)="onCourseViewed()">View Course</button>

  </div>
</ng-container>
