<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

 <div class="courses" *ngIf="courses[0] as course">  <!--aliance reference -->
  <app-course-card
    [course]="course"
    (courseSelected)="onCourseSelected($event)"
    [ngClass]="course.category"> <div class="imageContainer">

      <img #courseImage width="300" alt="Angular Logo"
        [src]="course.iconUrl"
        > <!-- passing a configurable element -->
        <h3>Number of leasons : {{course.id}}</h3>
    </div>
    <div class="course-description">
      {{course.longDescription}}
    </div>
    <p>Project the rest</p>
    <p>Project the rest</p>
  </app-course-card>
</div>
