<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>

 <div class="courses" *ngIf="courses[0] as course">  <!--aliance reference -->
  <app-course-card
    [course]="course"
    (courseSelected)="onCourseSelected($event)"
    [ngClass]="course.category">
    <app-course-image [src]="course.iconUrl"></app-course-image>
    <app-course-image [src]="courses[1].iconUrl"></app-course-image>
    <app-course-image [src]="courses[2].iconUrl"></app-course-image>
    <div class="course-description">
      {{course.longDescription}}
    </div>
    <p>Project the rest</p>
    <p>Project the rest</p>
  </app-course-card>
</div>
