<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
</div>
<div #container>
  <div>
    <app-course-card
      #card
      [course]="courses[0]"
      (courseSelected)="onCourseSelected($event)"
    ></app-course-card>
  </div>
  <div>
    <app-course-card
      #cardRef1
      [course]="courses[1]"
      (courseSelected)="onCourseSelected($event)"
    ></app-course-card>
  </div>

  <div>
    <app-course-card
      #cardRef2
      [course]="courses[2]"
      (courseSelected)="onCourseSelected($event)"
    ></app-course-card>
  </div>
</div>
<!-- <div class="courses">
  <app-course-card
    *ngFor="let course of courses | slice:0:3; index as i; first as isFirst; last as isLast; even as isEven; odd as isOdd "
    [course]="course"
    [cardIndex]="i + 1"
    [class.is-first]="isFirst"
    [class.is-last]="isLast"
    [class.is-even]="isEven"
    [class.is-odd]="isOdd"
    (courseSelected)="onCourseSelected($event)"
    [ngClass]="course.category">
  </app-course-card>
</div> -->
